<html>
    <head>
        <title>
            Feedback Form
        </title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <h2 class="text-center"><b>Feedback Form</b></h2><hr>
        <form action="" class="form-horizontal" style="padding: 4px;" id="feedback" method="post">
                <div class="form-group">
                    
                        <label for="name" class="control-label col-md-4">Name</label>
                        <div class="col-md-4">
                            <input type="text" name="name" class="form-control">
                        </div>
                    
                </div>
                <div class="form-group">
                    
                    <label for="email" class="control-label col-md-4">Email</label>
                    <div class="col-md-4">
                        <input type="email" name="email" class="form-control">
                    </div>
                
            </div>

            <div class="form-group">
                    
                <label for="mobile" class="control-label col-md-4">Mobile No.</label>
                <div class="col-md-4">
                    <input type="number" name="mobile" class="form-control">
                </div>
            
            </div>

            <div class="form-group">
                    
                <label for="city" class="control-label col-md-4">City</label>
                <div class="col-md-4">
                    <input type="text" name="city" class="form-control">
                </div>
            
            </div>

            <div class="form-group">
                    
                <label for="feedback" class="control-label col-md-4">Feedback</label>
                <div class="col-md-4">
                    <textarea form="feedback" class="form-control" name="feedback"></textarea>
                </div>
            
            </div>

            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                  <button type="submit" class="btn btn-success">Submit</button>
                  <button type="reset" class="btn btn-danger">Clear</button>
            </div>
            </div>
        </form>
    </body>
</html>