<html>
    <head>
        <title>
            Login
        </title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <h2 class="text-center"><b>Login</b></h2><hr>
        <form action="" class="form-horizontal" style="padding: 4px;" id="signin" method="post">
                
                <div class="form-group">
                    
                    <label for="email" class="control-label col-md-4">Email</label>
                    <div class="col-md-4">
                        <input type="email" name="email" class="form-control">
                    </div>
                
            </div>

            

            <div class="form-group">
                    
                <label for="Password" class="control-label col-md-4">Password</label>
                <div class="col-md-4">
                    <input type="password" name="password" class="form-control">
                </div>
            
            </div>

           

            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                  <button type="submit" class="btn btn-success">Submit</button>
                  <button type="reset" class="btn btn-danger">Clear</button>
            </div>
            </div>
        </form>
    </body>
</html>